{% extends '::base.html.twig' %}

{% block body -%}

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="{{ vich_uploader_asset(entity, 'imageFile') }}">
                <img src="{{ vich_uploader_asset(entity, 'imageFile') }}" alt="{{ entity.imageName }}" />
                </a>
                <div class="caption">
                    <h3>Updatedat | ID {{ entity.id }}</h3>
                    <p>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</p>
                    <p>
                       <a href="{{ path('product') }}" class="btn btn-primary" role="button">
                           Voltar
                       </a>
                       <a href="{{ path('product_edit', { 'id': entity.id }) }}" class="btn btn-default" role="button">
                           Editar
                       </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
