{% extends '@MRSControle/TbHorario/Template/template.html.twig' %}

{% block pagename %}Editar{% endblock %}

{% block panelheading%}

    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2">
            <a href="{{ path('horario') }}" class="btn btn-primary btn-sm">
                <span class="fa fa-reply"></span>
            </a>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-2">
            <a href="{{ path('horario_show', { 'id': entity.horCodigo }) }}" class="btn btn-primary btn-sm ">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-2">

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger btn-sm remover-form">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}

    {% block panelbody %}

        {{ form_start(edit_form,{'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_widget(edit_form) }}
    {% endblock %}

{% block panelfooter %}

    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>

    {{ form_end(edit_form) }}

{% endblock %}
