{% extends '@MRSControle/TbHorario/Template/template.html.twig' %}


{% block pagename %}
    Mostrar
{% endblock %}

{% block panelheading %}

    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2">
            <a href="{{ path('horario') }}" class="btn btn-primary btn-sm">
                <span class="fa fa-reply"></span>
            </a>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-2">
            <a href="{{ path('horario_edit', { 'id': entity.horCodigo }) }}" class="btn btn-primary btn-sm ">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-2">

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger btn-sm remover-form">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}

{% block panelbody %}

    <table>
        <tbody>
        <tr>
            <th>Dia da semana:</th>
            <td>{{ entity.horDiaSemana }}</td>
        </tr>
        <tr>
            <th>Data:</th>
            <td>{{ entity.horData|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Entrada:</th>
            <td>{{ entity.horEntrada | date('H:i:s') }}</td>
        </tr>
        <tr>
            <th>Almoço Saida:</th>
            <td>{{ entity.horAlmocoIda | date('H:i:s')}}</td>
        </tr>
        <tr>
            <th>Almoço Retorno:</th>
            <td>{{ entity.horAlmocoVolta | date('H:i:s') }}</td>
        </tr>
        <tr>
            <th>Saída:</th>
            <td>{{ entity.horSaida | date('H:i:s') }}</td>
        </tr>
        <tr>
            <th>Justificativa:</th>
            <td>{{ entity.horJustificativa }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}