{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TbTipoEntrada</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Tendescricao</th>
                <td>{{ entity.tenDescricao }}</td>
            </tr>
            <tr>
                <th>Tenativo</th>
                <td>{{ entity.tenAtivo }}</td>
            </tr>
            <tr>
                <th>Tencodigo</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tipoentrada') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('tipoentrada_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
