{% extends '@MRSControle/TbKilometragem/Template/template.html.twig' %}

{% block pagename %}
    Novo
{% endblock %}

{% block panelheading %}
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2">
            <a href="{{ path('kilometragem') }}" class="btn btn-primary btn-sm">
                <span class="fa fa-reply"></span>
            </a>
        </div>

    </div>
{% endblock %}

{% block panelbody %}

    {{ form_start(form) }}
        {{ form_row(form.kiDescricao) }}
        {{ form_row(form.kiKilometragem) }}
        {{ form_row(form.kiDataInicial) }}
        {{ form_row(form.kiDataAtual) }}

{% endblock %}

{% block panelfooter %}

    <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>

    {{ form_end(form) }}
{% endblock %}