{% extends '::base.html.twig' %}

{% block contentheader %}
    <section class="content-header">
        <h1>
            Kilometragem
            <small>Novo</small>
        </h1>
    </section>
{% endblock %}

{% block body -%}

    {#{{ form(form) }}#}

    <div class="panel panel-default">
        <div class="panel-heading">

            {{ include('MRSControleBundle:TbKilometragem/Template:painel.html.twig') }}

        </div>
        <div class="panel-body">

            {{ form_start(form) }}
                {{ form_row(form.kiDescricao) }}
                {{ form_row(form.kiKilometragem) }}
                {{ form_row(form.kiDataInicial) }}
                {{ form_row(form.kiDataAtual) }}

            <div class="form-group">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-10">
                    <button class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                        Salvar
                    </button>
                        {#{{ form_widget(form.submit, {'label':'Salvar',
                                                 'attr': { 'class': 'btn btn-primary'}}) }}#}
                </div>
            </div>

                {#{{ form_row(form.submit,{'label':'<span class="glyphicon glyphicon-plus"></span>Salvar',#}
                                         {#'attr': { 'class': 'btn btn-primary'}}#}
                {#)}}#}

            {{ form_end(form) }}
        </div>
        <div class="panel-footer">
        </div>

    </div>
{% endblock %}
