{% extends '@MRSControle/TbKilometragem/Template/template.html.twig' %}

{% block pagename %}
    Mostrar
{% endblock %}

{% block panelheading -%}
    <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-2">
            <a href="{{ path('kilometragem') }}" class="btn btn-primary btn-sm">
                <span class="fa fa-reply"></span>
            </a>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-2">
            <a href="{{ path('kilometragem_edit', { 'id': entity.kiCodigo }) }}" class="btn btn-primary btn-sm ">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </div>

        <div class="col-md-1 col-sm-1 col-xs-2">

            {{ form_start(delete_form) }}
            <button type="submit" class="btn btn-danger btn-sm remover-form">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}

{% block panelbody %}

    <table>
        <tbody>
        <tr>
            <th>Descrição:</th>
            <td>{{ entity.kiDescricao }}</td>
        </tr>
        <tr>
            <th>Kilometragem:</th>
            <td>{{ entity.kiKilometragem }}</td>
        </tr>
        <tr>
            <th>Data Inicial:</th>
            <td>{{ entity.kiDataInicial|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Data Atual</th>
            <td>{{ entity.kiDataAtual|date('Y-m-d H:i:s') }}</td>
        </tr>
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Codigo</th>
                <td>{{ entity.kiCodigo }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

{% endblock %}